
html, body {
  overflow-x: hidden;
}

.top-row
{
  background-color: #ee4266;
}

.row
{
  min-height: 50vh;
}

.resp-img
{
  height: 100%;
  width: auto;
  display:block;
  margin:auto;
}

.fill-parent
{
  height: 100%;
  width: 100%;  
}

.flex-center
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-alt-bg
{
  background-color: #fafafa;
}

.hide-overflow
{
  overflow: hidden;
}

.text-margin
{
  margin-right: 15px;
  margin-left: 15px;
}