
body {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}



p {
  color: rgba(255, 255, 255, 0.60);
}

html, body {
  overflow-x: hidden;
}


.top-row
{
  background-image: url("../img/cover.webp"), url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.top-row h1{ color: white;}
.top-row p{ color: white;}

.row-f
{
  min-height: 50vh;
}

.resp-img
{
  height: 100%;
  max-height: 500px;
  width: auto;
  display:block;
  margin:auto;
}

.fill-parent
{
  height: 100%;
  width: 100%;  
}

.flex-center
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-hor
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.white-alt-bg
{
  background-color: #fafafa;
}

.hide-overflow
{
  overflow: hidden;
}

.text-margin
{
  margin-right: 15px;
  margin-left: 15px;
}

.expand-x
{
  width: 100%;
}

.expand-y
{
  min-height: 100%;
}

.no-padding
{
  padding: 0px;
}

.vert-padding-20
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-padding-20
{
  padding-top: 20px;
}

.right-padding-5
{
  padding-right: 5px;
}

.row-footer
{
  min-height: 130px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.link-r a, .link-r a:visited, .link-r a:link
{
  color: #888;
}

.link-r a:hover
{
  color: #ce3d5c;
}

.btn-danger
{
  background: #ee4266;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #ce3d5c;
}

.btn-danger:active, .btn-danger.active {
  background: #ce3d5c;
}

.card
{
  border-radius: 0px;
  background-color: #222222;
  border: none;
}

.card-footer
{
  background-color: #222222;
  border-top: 0px;
  padding-bottom: 15px;
}

.card .card-img-top
{
 border-radius: 0px;
}

.card .btn, .card .btn:active
{
  width: 100%;
  color: rgba(255, 255, 255, 0.87);;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border-color: gainsboro; 
}

.card .btn:hover, .card .btn:focus
{
  color: #ce3d5c;
  border-color: #ce3d5c; 
}

@media (min-width: 576px) and (max-width: 1024.00px)
{
  .card {
    flex: 0 0 calc(50% - 30px) !important;
  }
}

.margin-15-md{
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 576px) 
{
  .margin-15-md{
    padding-right: 15px;
    padding-left: 15px;
  }
  
}


.no-margin{
  margin: 0px 0px 0px 0px;
}

.card-2 {
  width: 100%;
  background-color: #222222;
}

