html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.img-resp {
  max-height: 512px;
  align-self: flex-end;
}

.flex-down {
  display: flex;
  justify-content: center;

}

.hero-foot, .hero-head {
  flex-grow: 1;
  flex-shrink: 0;
}