
.margin-20
{
    margin: 20px 20px 20px 20px;
}

.margin-40
{
    margin: 40px 40px 40px 40px;
}

.padding-up-30
{
  padding-top: 30px;
}

.hor-pad-15
{
    padding-left: 15px;
    padding-left: 15px;
}

.vert-pad-15
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-5
{
    padding: 5px 5px 5px 5px;
}

.next-bg
{
    background-image: url("../img/next.jpg");
}

.top-bg
{
    background-image: url("../img/top.jpg")
}

.parallax { 
    height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

a:link, a:visited
{
   color: #f8f9fa !important;
}

a:hover
{
    color: #868e96 !important;
}

a.special:hover
{
    background-color:#138C9F!important; 
    color: #f8f9fa !important;
}

.min-sz
{
    min-height: 500px;
}

.selectable div:hover
{
    background-color: #868e96;
}

.el-pad
{
    padding-bottom: 25px;
    padding-top: 25px;
}

.bg-darker
{
    background-color: #2F363B!important;
}

.bg-proj1
{
    background-image: url("../img/p1_b.jpg")
}

.img-little
{
    max-height: 300px;
    max-width: 400px;
}

.max-wid
{
 max-width: 100%;   
}